.languages{
  margin-top: 2px;
  margin-left: 120vh;
  display: flex;
  align-items: center;
}
.languages > button{
  width: 50px;
  align-items: center;
  display: flex;
  border: none;
  background: none;
  cursor: pointer;
  
}
.languages > button > img{
  width: 20px;
  display: flex;
  align-items: center;
  margin-right: 5px;
}